@import "./reset.css";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Roboto:wght@900&display=swap");

/*
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif;
*/

html,
body {
  font-family: "Montserrat", sans-serif;
}

.none {
  display: none !important;
}

.container {
  min-width: 1840px;
  margin: 0 auto;
  padding: 0 30px;
}

.header {
  position: relative;
  /* aspect-ratio: 1920 / 1204; */
  height: 100vh;
  background-color: #c4c4c4;

  color: #fff;
}

.header-slider {
}

.header-slider__item {
  /* height: 100%; */
  height: 100vh;
  object-fit: cover;
}

.header-slider__item {
  /* position: relative;
  width: 100%;
  height: 100%;

  background-size: cover;
  background-position: center; */
}

.header-slider::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.2) 0%,
    rgba(255, 255, 255, 0) 99.99%,
    rgba(255, 255, 255, 0) 100%
  );
  /* background: (50% 50% at 50% 50%, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 100%); */
}

.header-slider__img-bg {
  width: 100%;
  height: 100%;
  /* height: 100vh; */
}

.header__content {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  /* padding-top: 50px; */
  padding-bottom: 80px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.header-nav {
  width: 100%;
  padding: 50px 70px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.logo {
  display: flex;
  gap: 11px;
  align-items: center;
}

.nav {
  display: flex;
  gap: 65px;
  align-items: center;
}

.nav__item {
  font-size: 18px;
  font-weight: 600;
}

.nav__link {
  color: #fff;
}

.extra-nav-btn {
}

.header-title {
  position: relative;
  text-align: center;
  width: 100%;
}

.header-title__small {
  position: absolute;
  top: -8px;
  width: 100%;
  /* margin-bottom: -29px; */
  font-weight: 500;
  font-size: 30px;
  letter-spacing: 0.55em;
  text-transform: uppercase;
  opacity: 0.7;
}

.header-title__big {
  /* position: relative; */
  font-weight: 700;
  font-size: 250px;

  /* background: linear-gradient(
    6deg,
    rgba(0, 0, 0, 0.527) 23.32%,
    rgba(255, 255, 255, 1) 77.08%
  ); */
  background: linear-gradient(
    6deg,
    rgba(0, 0, 0, 1) -23.32%,
    rgba(255, 255, 255, 1) 37.08%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header-tips {
  /* width: 100%; */
  display: flex;
  justify-items: center;
  gap: 30px;
}

.tip {
  display: grid;
  gap: 4px;

  position: relative;
  width: 420px;
  height: 108px;

  padding: 34px 210px 26px 95px;

  background-image: url("./../img/icons/map.svg");
  background-repeat: no-repeat;
  background-position: 35px 40px;

  color: #fff;
}

.tip::before {
  content: "";

  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  /* background-color: rgba(0, 0, 0, 0.38); */
  filter: blur(6px);
  border-radius: 5px;

  transition: background-color 0.2s ease-in;
}

.tip:hover::before {
  background-color: rgba(255, 255, 255, 0.2);
  /* background-color: rgba(0, 0, 0, 0.48); */
}

.tip__title {
  font-weight: 700;
  font-size: 20px;
  color: #fff;
}

.tip__text {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.4);
}

.header-socials {
  position: absolute;
  left: 70px;
  top: 50%;
  transform: translateY(-50%);

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 28px;
}

.header-seemore {
  display: flex;
  align-items: center;

  gap: 22px;
  position: absolute;
  left: 70px;
  bottom: 80px;

  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  /* text-orientation: upright; */

  color: rgba(255, 255, 255, 0.6);
}

.header-seemore::before {
  content: "";
  display: inline-block;
  width: 3px;
  height: 38px;
  background-color: rgba(255, 255, 255, 0.3);
}

.tns-nav {
  position: absolute;
  z-index: 9;
  right: 70px;
  top: 50%;
  transform: translateY(-50%);
}

.tns-nav button {
  display: block;
  width: 20px;
  height: 80px;
  border-right: 2px solid rgba(255, 255, 255, 0.3);
}

.tns-nav button.tns-nav-active {
  border-right: 2px solid rgba(255, 255, 255, 1);
}

.header-slider-controls {
  position: absolute;
  z-index: 9;
  right: 70px;
  bottom: 80px;

  display: grid;
  row-gap: 15px;

  padding: 10px;
  background-color: rgba(0, 0, 0, 0.38);
  border-radius: 15px;
}
.header-slider-controls__arrows {
  display: flex;
  gap: 6px;
}

.header-slider-controls__count {
  display: flex;
  gap: 6px;
  justify-content: flex-end;
  align-items: baseline;
  font-weight: 600;
}

.header-slider-controls__count-current {
  font-size: 32px;
}

.header-slider-controls__count-total {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.3);
}

@media (max-width: 1670px) {
  .tip {
    width: 280px;
    padding: 20px 110px 22px 75px;
  }
}

@media (max-width: 1380px) {
  .header__content {
    padding-bottom: 40px;
  }

  .header-nav {
    padding: 30px 40px 0;
  }

  .header-title__small {
    font-size: 25px;
    margin-bottom: -18px;
  }

  .header-title__big {
    font-size: 200px;
  }

  .header-tips {
    flex-direction: column;
  }

  .tip {
    height: 88px;
    padding: 18px 110px 20px 75px;
  }

  .header__content {
    /* padding-bottom: 40px; */
  }

  .header-seemore,
  .header-slider-controls {
    bottom: 30px;
  }
}

@media (max-width: 1230px) {
  .header-title__small {
    font-size: 20px;
  }

  .header-title__big {
    font-size: 150px;
  }

  .tip::before {
    background-color: rgba(255, 255, 255, 0.2);
  }
}

@media (max-width: 1140px) {
  .header-title__small {
    font-size: 14px;
  }

  .header-title__big {
    font-size: 90px;
  }

  /* .header-seemore, */
  /* .header-slider-controls, */
  /* .tns-nav, */
  /* .header-socials, */
  .nav {
    display: none;
  }

  .header-tips {
    visibility: hidden;
  }

  .tip {
    width: 0;
    height: 0;
    padding: 0;
  }

  .tns-nav button {
    height: 60px;
  }
}

@media (max-width: 800px) {
  .header-seemore,
  .header-slider-controls,
  /* .tns-nav, */
  .header-socials {
    display: none;
  }

  .header-nav {
    padding: 20px 20px 0;
  }

  .header-title__big {
    font-size: 72px;
  }

  .tns-nav {
    position: absolute;
    display: flex;

    z-index: 9;
    bottom: 100px;
    top: unset;
    right: unset;
    left: 50%;
    transform: translateX(-50%);
  }

  .tns-nav button {
    display: block;
    flex-shrink: 0;
    width: 70px;
    height: 20px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.3);
    border-right: unset;
  }

  .tns-nav button.tns-nav-active {
    border-bottom: 2px solid rgba(255, 255, 255, 1);
    border-right: unset;
  }
}
